.chooseColor li:nth-child(3){
    margin-left: 20px;!important;
}

.chooseColor li:last-child div {
    background-color: #0d71bb;
    border: none;
}


.chooseColor li:last-child {
    margin-left: 20px;!important;
}