body{
    min-height: 100vh;
}

.buttonPay{
    margin: 70px 0 0 70px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

* {
    box-sizing: border-box;
    /*flex: 1 0 auto;*/
    margin: 0;
    padding: 0;
}